# Backend Configuration
RUST_LOG=backend=debug,tower_http=debug,axum::rejection=trace

# Frontend Configuration
VITE_SERVER_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000/ws

# Production URLs (update these for production deployment)
# VITE_SERVER_URL=https://the-song-api.algovn.com/
# VITE_WS_URL=wss://the-song-api.algovn.com/ws

